/*.register-form {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100vh;*/
/*    background-color: #f4eddf;*/
/*}*/

/*.form-body {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: #deb887;*/
/*    height: 200px;*/
/*    width: 300px;*/
/*}*/

.error-message-container {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #dc3545;
    border-radius: 4px;
}

.error-message {
    color: #000000;
    margin: 0;
}

.success-message-container {
    margin-top: 10px;
    padding: 10px;
    background-color: #d7f8db;
    border: 1px solid #46dc35;
    border-radius: 4px;
}

.success-message {
    color: rgb(0, 0, 0);
    margin: 0;
}

.form-style {
    margin: 300px;
}
/* Add padding to containers */
.container {
    padding: 16px;
    background-color: #d2b48c;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

* {
    box-sizing: border-box;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}