.login-form {
    display: flex;
    flex-direction: row;
    background-color: #deb887;
    padding: 20px;
}

.error-message-container {
    margin-top: 10px;
}

.error-message {
    color: #ff0000; /* Red color for error message */
    font-size: 14px;
    font-weight: bold;
}