.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4eddf;
}

.centered-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 150px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: lightgrey;
}

